SECRET_KEY=change-me
TELEGRAM_BOT_TOKEN=YOUR_TOKEN
TELEGRAM_BOT_USERNAME=USERNAME_BOT
TELEGRAM_LOGIN_ENABLED=true
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=debt_manager